@font-face {
  font-family: DIN-Medium;
  src: url("@fonts/DIN-Medium.otf");
}

@font-face {
  font-family: PingFang-Light;
  src: url("@fonts/PingFang-Light.ttf");
}

@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("@fonts/YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: JiangChengXieHei;
  src: url("@fonts/JiangChengXieHei.ttf");
}
