/**
  * This file is used to override the default theme variables of Element Plus.
  * You can refer to the variables in the following link:
  *
  * @see https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
  */

$default-width: 220px;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $input: (
    "width": $default-width,
  ),
  $select: (
    "width": $default-width,
  ),
  $select-option: (
    // "hover-background": #477a9c80,
    // "selected-text-color": #409eff,,
  ),
  $select-dropdown: (
    // "bg-color": #07162499,
  )
);
